// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section3 of Gloves page.
// -----------------------------------------------------------------------------

section#section3 {
  background-color: $brand-grey;
  .img_wrapper {
    box-shadow: none;
  }
  table {
    background-color: $bg-color;
  }
}