// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section4 of Disposable Gowns page.
// -----------------------------------------------------------------------------

section#section4.gown_styles_wrapper {
  section#section4-1.products_styles__ttl {
    h6,
    ul {
      text-align: center;
    }
    ul {
      list-style: none;
    }
  }
  section#section4-2.gown_styles__fastenings,
  section#section4-3.gown_styles__cuffs {
    .det {
      ul { margin: 0; }
    }
  }
  section#section4-4.gown_styles__speciality_gowns {
    ul { margin: 0; }
  }
}