// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section4 of Covaralls page.
// -----------------------------------------------------------------------------

section#section4.coverallTypes {
  padding: 0;
  > section:not(:last-child) {
    padding-bottom: 0;
  }
  h2 {}
  h3 {}
  p {}
  ul {}
  .img_wrapper {}
  .txtWrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  section#section4-1.microporousCoveralls {}
  section#section4-2.surgicalCoveralls {}
  section#section4-3.multiLayerCoveralls {}
  section#section4-4.spunbondCoveralls {}
}