// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section6 of Covaralls page.
// -----------------------------------------------------------------------------

section#section6.coverallsMaterials {
  h2, h3 {
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
  }
}