// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section3 of Find your product page.
// -----------------------------------------------------------------------------

section#section3.wish {
  background-image: url(../imgs/finding_your_product/section3/bg.jpg);
  h2 {
    max-width: 600px;
    span {
      display: block;
    }
  }
}