// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section3 of Services page.
// -----------------------------------------------------------------------------

section#section3.approach {
  background-color: $brand-grey;
  h2 {
    @media screen and (min-width: $csseco_bp_576) {
      text-align: left;
    }
  }
  @media screen and (min-width: $csseco_bp_768) {
    background-image: url(../imgs/services/section3/bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
  }
}