// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.cssecoBtnWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  .cssecoBtn {
    background-color: $brand-color;
    border-radius: $border-radius;
    border: 1px solid $brand-color;
    color: $brand-color;
    display: inline-block;
    font-weight: bold;
    min-width: 250px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    width: auto;
    span {
      position: relative;
      z-index: 1;
    }
    &::after {
      background: $brand-secondary-color;
      bottom: -5px;
      border-radius: 70px;
      content: "";
      left: -30%;
      position: absolute;
      top: -5px;
      transition: left 0.5s ease-in-out;
      width: 180%;
      z-index: 0;
    }
    &:hover {
      border-color: $brand-secondary-color;
      color: $bg-color;
      &::after {
        left: 127%;
      }
    }
    &--red {
      background-color: rgb(255, 0, 0);
      &::after {
        background-color: rgba(255, 85, 85, .5);
      }
    }
  }
}