// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.lecardsWrapper {
  display: block;
  .lecard {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    &__top {
      border: 1px solid $brand-color;
      
      
      
    }
    &__ttl,
    &__pct {
      padding: 1rem 0;
    }
    &__ttl {
      border-bottom: 1px solid $brand-color;
      h3 {
        margin: 0;
        span {
          &::before { // from .bull
            bottom: 0;
            height: 30px;
            left: -10px;
            top: auto;
            width: 30px;
          }
        }
      }
    }
    &__pct {
      .bgpct {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
      }
    }
    &__desc {
      align-content: center;
      background-color: $brand-color;
      color: $bg-color;
      display: flex;
      flex-flow: column;
      flex-grow: 1;
      justify-content: center;
      margin-top: 0.3rem;
      padding: 1rem 10px;
      p {
        margin: 0;
      }
    }
    
    @media screen and (min-width: $csseco_bp_768) {
      max-width: 49%;
    }
    @media screen and (min-width: $csseco_bp_1200) {
      max-width: 33%;
    }
  }
  @media screen and (min-width: $csseco_bp_768) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}