// -----------------------------------------------------------------------------
// This file contains all styles related to the menu component.
// -----------------------------------------------------------------------------

.leMenu { // Header menu  
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 89;
  &.show {
    height: auto;
    margin: 1rem 0 0 0;
    max-height: calc(100vh - 60px); // see layout/header.scss -> $primaryHeaderHeight
    overflow-y: auto;
  }
  &.on_mobile,
  &.on_desktop {
    &.header_menu {
      ul.menu,
      ul.sub-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          cursor: pointer;
          a {
            text-decoration: none;
            @media screen and (min-width: $csseco_bp_992) {}
            @media screen and (min-width: $csseco_bp_1200) {
              font-size: 16px;
            }
          }
          ul.sub-menu {
            // background-color: rgba($brand-color, .8);
            > li {
              a {
                // color: $brand-color;
              }
            }
          }
          &.current-menu-item, 
          &.current_page_item,
          &.current-menu-parent,
          &.current_page_ancestor {
            > a {
              color: $brand-secondary-color;
              font-weight: bold;
            }
            > .menu_caret {
              align-items: center;
              color: $brand-secondary-color;
              display: flex;
              justify-content: center;
              width: 20px;
              i,svg {
                transition: transform ease-in-out $animation_time;
                margin-top: -2px;
              }
            }
          }
          &.child {
            a {
              // color: #616161;
              font-weight: normal;
              padding-left: 40px;
            }
          }
        }
      }
      ul.menu {
        li {
          a {}
          &:hover {
            > a,
            > .menu_caret {
              color: $brand-secondary-color;
            }
          }
        }
        ul.sub-menu {
          li {
            a {

            }
          }
        }
      }
    }
  }
  &.on_mobile {
    &.header_menu {
      ul.menu {
        margin: 0;
        position: relative;
        li {
          &:not(:last-child) {
            border-bottom: 1px solid $brand-secondary-color;
          }
          a {
            display: block;
            color: $bg-color;
            max-width: 100%;
            padding: 5px 0;
            width: 100%;
            position: relative
          }
        }
        > li { // parent
          > a { // parent a
            // text-transform: uppercase;  
          }
        }
        li.menu-item-has-children {
          display: grid;
          grid-template-columns: 1fr 30px;
          grid-template-rows: 1fr;
          position: relative;
          &::after {
            background-color: $brand-color;
            bottom: auto;
            content: '';
            height: 1px;
            left: 0;
            opacity: .48;
            position: absolute;
            right: 0;
            top: 31px;
            width: 100%;
          }
          ul {
            li {
              a {}
            }
          }
          .menu_caret {
            align-items: center;
            color: $brand-secondary-color;
            display: flex;
            justify-content: center;
            transition: transform ease-in-out $animation_time;
            width: 30px;
          }
          &.menu_open {
            > ul.sub-menu {}
            .menu_caret {
              transform: rotate(180deg);
            }
          }
        }
        ul.sub-menu {
          display: none;
          padding: 0 0 0 20px;
        }
      }
    }
  }
  &.on_desktop {
    overflow: visible;
    &.header_menu {
      ul.menu {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-end;
        li {
          position: relative;
          display: flex;
          a {
            display: inline-block;
            color: $bg-color;
            padding: 5px 10px 5px 15px;
            width: 100%;
            position: relative
          }
          .menu_caret {
            align-items: center;
            color: $bg-color;
            display: flex;
            justify-content: center;
            margin-right: -10px;
            width: 20px;
            i,svg {
              transition: transform ease-in-out $animation_time;
              margin-top: -2px;
            }
          }
        }
        > li { // parent
          // display: grid;
          // grid-template-columns: 1fr 20px;
          // grid-template-rows: 1fr;
          &:not(:last-child) {
            margin-right: 15px;
            @media screen and (min-width: $csseco_bp_992) {
              margin-right: 20px;
            }
            @media screen and (min-width: $csseco_bp_1200) {
              margin-right: 25px;
            }
          }
          > a { // parent a
            padding: 5px 0;
            text-transform: uppercase;  
          }
          
        }
        li.menu-item-has-children {
          ul {
            li {
              a {}
            }
          }
          &:hover {
            .menu_caret {
              i,svg {
                transform: rotate(180deg);
              }
            }
            ul.sub-menu {
              // display: block;
              height: auto;
              opacity: 1;
              transition: all ease-in-out $animation_time;
              visibility: visible;
              @extend %boxShadow_top;
            }
          }
        }
        ul.sub-menu {
          background-color: $brand-grey;
          // display: none;
          border: 1px solid $bg-color;
          height: 0;
          left: -5px;
          min-width: 250px;
          opacity: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          // transition: all ease-in-out 0!important; // overwrite transition from "header#header.siteHeader *"
          visibility: hidden;
          li {
            a {
              color: #000;
              &:hover {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $csseco_bp_768) {
    height: 100%;
  }
}

.leMenu.menufp.on_desktop.header_menu { // fp menu
  ul.menu {
    @media screen and (min-width: $csseco_bp_992) {
      justify-content: flex-start;
    }
  }
}