// -----------------------------------------------------------------------------
// This file contains all styles related to the table component.
// -----------------------------------------------------------------------------

#site-wrapper {
  .table-responsive {}
  
  table {
    margin: 0;
    thead,
    tbody {
      tr th,
      tr td {
        vertical-align: middle;
      }
    }
    thead {
      background-color: $brand-color;
      color: $brand-secondary-color;
      tr {
        th {
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          &:last-child {
            text-align: left;
          }
        }
      }
    }

    .tableHead {
      background-color: $brand-color;
      color: $brand-secondary-color;
      font-weight: bold;
    }

  }
}