// -----------------------------------------------------------------------------
// This file contains styles that are specific to the #section5 of Reusable Gowns page.
// -----------------------------------------------------------------------------

section#section5.gown_styles_wrapper {
  section#section5-1.ttl {
    background-image: url(../imgs/products/disposable_gowns/section4/textura.png);
    background-position: center center;
    background-size: cover;
  }
  section#section5-2.gown_styles__backs,
  section#section5-3.gown_styles__cuffs,
  section#section5-3.gown_styles__caps {
    h2 {
      
    }
    .det {
      ul { margin: 0; }
    }
  }
  section#section4-4.gown_styles__speciality_gowns {
    ul { margin: 0; }
  }
}