// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header#header.site_header {
  padding: 15px 0;
  &:not(.frontpage_header) {
    background-color: $brand-color;    
  }
  .logoWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    img, svg {
      height: 30px;
      @media screen and (min-width: $csseco_bp_768) {
        height: 40px;
      }
      @media screen and (min-width: $csseco_bp_992) {
        height: 50px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    background-color: $brand-color;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 11;
  }
}

header#header.site_header.frontpage_header {}